:root {
  color-scheme: light;
  
  --cs-color-bg-primary: #7a7a7a;
  --cs-color-bg-secondary: #5a5a5a;
  --cs-color-bg-terciary: #3a3a3a;
  --cs-color-bg-quarternary: #ffffff;

  --cs-color-card-bg: #5a5a5a;
  --cs-color-card-border: #4a4a4a;

  --cs-color-btn-primary: #3483fa;
  --cs-color-btn-inverse: #fff;

  --cs-color-btn-hover-primary: #2a6cce;


  --cs-color-font-primary: #ffffff;
  --cs-color-font-secondary: #0caf1d;
  --cs-color-font-tertiary: #ff8800;


  --cs-color-font-warning: #ff3333;
  --cs-color-font-placeholder: #d3d2d2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
background-color: var(--cs-color-bg-quarternary);
}
main {
  padding: 0 20px;
}


/* ============================================================================ */

.cs-container-flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}