.chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;

  min-width: 80%;
  min-height: 80%;
  background-color: red;
}