
/* Wrapper for all groups */
.piece-set-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cs-piece-set-group {
  margin-bottom: 0.5rem;
}

/* Clickable header */
.cs-piece-set-group-header {
  width: 100%;
  background: none;
  border: none;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  color: var(--cs-color-font-primary);
}

.cs-piece-set-group-title {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Arrow */
.cs-group-arrow {
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.cs-group-arrow.open {
  transform: rotate(180deg);
}

/* Grid for cards */
.cs-piece-set-cards-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1rem;
  margin-left: 3%;
}

/*CURRENT SELECTED SCHEME*/

