
.cs-jogolocal-container{
    width: 100%;
    height:700px;
}
.cs-jogolocal-content-container{
    width: 80%;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cs-jogolocal-board-container{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}