
.cs-local-game-container{
    width: 100%;
    height:700px;
}
.cs-local-game-content-container{
    width: 80%;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cs-local-game-board-container{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs-local-game-result{
  position:absolute;
  text-align: center;
  width: 400px;
  top: 60%;
  left: auto ;
  font-size: 50px;
  color: green;
  background-color: black;
  z-index: 15;
}
