
.cs-local-game-container{
    width: 100%;
    height:700px;
}
.cs-local-game-content-container{
    width: 80%;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cs-local-game-board-container{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs-local-game-result{
  width: 400px;
  
  color: green;
  background-color: black;

  /*Text*/  
  text-align: center;
  font-size: 50px;
  
  /*Positioning*/
  position:absolute;
  top: 60%;
  left: auto ;
  z-index: 15;

  /*ANIMATION STUFF*/
  overflow: hidden; 
  transform: scaleY(0);
  transform-origin:center; 
  transition: transform 0s ease-in;
}
.cs-local-game-result.appear {
  /* Final state: Visible */
  transform: scaleY(1);
  transition: transform 0.7s ease-in;
}

