
.cs-jogolocal-container{
    width: 100%;
    height: 100%;
}
.cs-jogolocal-content-container{
    width: 80%;
    margin: auto;
}

.cs-jogolocal-board-container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}