
/* Wrapper for all groups */
.color-scheme-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cs-scheme-group {
  margin-bottom: 0.5rem;
}

/* Clickable header */
.cs-scheme-group-header {
  width: 100%;
  background: none;
  border: none;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  color: var(--cs-color-font-primary);
}

.cs-scheme-group-title {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Arrow */
.cs-group-arrow {
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.cs-group-arrow.open {
  transform: rotate(180deg);
}





/*CURRENT SELECTED SCHEME*/

