.user-displayer-container
{
    width: 95%;
    height: 30px;
    background-color: var(--cs-color-bg-primary);
    margin: 5px 0px;

    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.user-displayer-left-content
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.user-displayer-right-content
{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}


.user-portrait-container {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.user-portrait {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}