* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #3f71ff;
  font-family: system-ui;
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0,0,0,.15);
  border-radius: 1em;
  overflow: hidden;
  
  @media (max-width: 600px){
    &{
      flex-direction: row;
    }
  }
  
  header{
    background: rgb(43 43 44);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em 2em 0 2em;
    
    @media(max-width: 600px){
      &{
        flex-direction: column;
        padding: 2em 0 1em 1em;
      }
    }
    
    .action-btns{
      display: flex;
      gap: .5em;
      list-style: none;
      padding-bottom: .4em;
      
      @media(max-width: 600px){
        &{
          padding-bottom: 0;
          align-self: start;
        }
      }
      
      li{
        --dimensions: 1em;
        width: var(--dimensions);
        height: var(--dimensions);
        border-radius: 50%;
        cursor: pointer;
      }
      & li:nth-of-type(1){
        background: #ED594A;
      }
      
      & li:nth-of-type(2){
        background: #FDD800;
      }
      
      & li:nth-of-type(3){
        background: #5AC05A;
      }
    }
  }
  
  .tabs {
    display: flex;
    list-style: none;
    gap: 1.8em;

    @media (max-width: 600px) {
      & {
        flex-direction: column;
      }
    }

    li {
      padding: .6em 1.2em;
      min-width: 8em;
      text-align: center;
      cursor: pointer;
      border-radius: 0.5em 0.5em 0 0;
      position: relative;
      user-select: none;

      @media (max-width: 600px) {
        & {
          border-radius: 0.5em 0 0 0.5em;
        }
      }
      
      & .passive-highlight{
        background: rgba(255, 255, 255, .15);
        opacity: 0;
        transition: .3s;
      }
      
      &:hover .passive-highlight{
        opacity: 1;
      }
      
      & .active-highlight{
        background: #fff;
      }

      & .active-highlight,
      & .passive-highlight{
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        border-radius: inherit;
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, .25));

        &::before,
        &::after {
          --dimensions: .6em;

          content: "";
          width: var(--dimensions);
          height: var(--dimensions);
          position: absolute;
          -webkit-mask: var(--mask);
          mask: var(--mask);
          background: rgb(34, 38, 47);
          background: inherit;
        }

        &::before {
          right: 100%;
          bottom: 0;
          --mask: radial-gradient(var(--dimensions) at 0 0, #0000 98%, #000 99%);
        }

        &::after {
          left: 100%;
          bottom: 0;
          --mask: radial-gradient(var(--dimensions) at 100% 0, #0000 98%, #000 99%);
        }

        @media (max-width: 600px) {
          & .active-highlight{
            background: linear-gradient(to right, #e0e0e0, #fff);
          }
          
          &::before {
            bottom: 100%;
            right: 0;
            --mask: radial-gradient(
              var(--dimensions) at 0% 0%,
              #0000 98%,
              #000 99%
            );
          }

          &::after {
            top: 100%;
            right: 0;
            left: unset;
            --mask: radial-gradient(
              var(--dimensions) at 0% 100%,
              #0000 98%,
              #000 99%
            );
          }
        }
      }

      span {
        width: 100%;
        display: inline-block;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        color: #e0e0e0;
        position: relative;
        padding-bottom: .4em;
        text-shadow: 2px 2px 1px rgba(255,255,255,.2);
        transition: .3s;
        
        @media(max-width: 600px){
          padding-bottom: 0;
          text-align: left;
        }
      }

      &:hover span {
        color: #fff;
      }

      &.active span {
        color: rgb(30, 32, 34);
        text-shadow: 2px 2px 1px rgba(0,0,0,.1);
      }
    }
  }
  
  & > div{
    width: 100%;
    min-height: 30vh;
    background: #fff;
    position: relative;
    
    &::before{
      --intend: 2em;
      content: '';
      width: calc(100% - var(--intend));
      height: calc(100% - var(--intend));
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: .5em;
      background: #e0e0e0;
      box-shadow: inset 0px 0px 2px rgba(0,0,0,.25);
    }
    
    @media (max-width: 600px){
      &{
        width: 25em;
        min-height: 100%;
        border-radius: 0 .5em .5em 0;
      }
    }
  }
}
