
.piece-set-card {
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--cs-color-card-border);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--cs-color-card-bg);
  cursor: pointer;
  min-height: 175px;
  width: 100%;
  height: 100%;
  max-width: 512px;
  max-height: 512px;
}

.piece-set-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.piece-set-card-title{
    width: 80%;
    height: 15%;
    text-align: center;
}

.piece-set-chessBoard{
  height: 80%;
  width: 80%;
  pointer-events: none;
}