.piece {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece-set-conatiner{
  width: 80%;
  pointer-events: none;
}

.square{
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}