/* ChessBoard.css */
.chess-board-container {
  width: 95%; /* Chessboard takes up 95% of the parent container's width */
  height: 95%; /* Chessboard takes up 95% of the parent container's height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-board {
  display: grid;
  gap: 0;
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  grid-template-columns: repeat(8, 1fr); /* Default 8 columns */
  grid-template-rows: repeat(8, 1fr); /* Default 8 rows */
  aspect-ratio: 1/1;
}


