.cs-home-header{
    width: 100%;
    max-width: 100%;
    height: 75px;
    background-color: var(--cs-color-bg-secondary);
    color: var(--cs-color-font-secondary);
}

.cs-header-info-container{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.cs-header-icons-container{
  height: 40px;
  margin:0 20px
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 45px;
}
a,a:hover /* afeta links e quando eles estão com mouse por cima deles*/ {
  text-decoration: none; /* tira a decoração do texto , retornando a uma aparência normal*/
  color: unset; /*nao muda a cor do link */
}

